<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="Lei Kong, kongl@mail.cbi.pku.edu.cn" />

    <title>ABrowse - Advanced Genome Browser</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />

    <!-- Bootstrap select CSS -->
    <link rel='stylesheet' href="/webjars/bootstrap-select/1.12.0/css/bootstrap-select.min.css" />

    <link rel="stylesheet" href="/css/main.css">

    <!-- JQuery UI CSS -->
    <!-- <link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" /> -->

    <!-- Include JQuery and JQuery plugin scripts: -->
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/jquery-validation/1.17.0/jquery.validate.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

    <!-- Bootstrap select JavaScript -->
    <script src="/webjars/bootstrap-select/1.12.0/js/bootstrap-select.min.js"></script>

    <script th:inline="javascript">

        /*<![CDATA[*/
        jQuery.validator.addMethod("not_number_start", function(value, element) {
              return !(/^\d/.test(value.charAt(0)))
          }, "不能以数字开头，请修改");

          jQuery.validator.addMethod("not_include_space", function(value, element) {
              return value.indexOf(' ') === -1
          }, "不能含有空格，请修改");

        $().ready(function() {

            $("#load_splicesite").validate({
                rules: {

                    trackName: {
                        required: true,
                        not_number_start: true,
                        not_include_space: true
                    },
                    trackDisplayName: {
                        required: true
                    }
                },
                messages: {
                    trackName: {
                        required: "请输入 track 名称"
                    },
                    trackDisplayName: {
                        required: "请输入 track 显示名称"
                    }
                },
                submitHandler: function() {
                document.getElementById('load_splicesite').submit()
              }
            });
        });
        /*]]>*/

    </script>

</head>

<body>
  <div id="wrapper">
  <!-- NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand cursor-pointer" onclick="window.location.href='/'">
      <span class="navbarTitle">Admin Panel</span>
    </div>
    <div class="languageDiv">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span id="languageSpan" th:text="#{language}"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="javascript:void(0)" onclick="changeLang('zh_CN')">中文</a></li>
          <li><a href="javascript:void(0)" onclick="changeLang('en_US')">English</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
  <!-- LEFT SIDEBAR -->
  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <li><a href="javascript:void(0)" class="" onclick="linkChange('/admin/create_track_group')"><span th:text="#{create_track_group}"></span></a></li>
          <li><a href="javascript:void(0)" class="" onclick="linkChange('/admin/delete_track_group')"><span th:text="#{delete_track_group}"></span></a></li>
          <li><a href="javascript:void(0)" class="" onclick="linkChange('/admin/delete_track')"><span th:text="#{delete_track}"></span></a></li>
          <li><a href="javascript:void(0)" class="" onclick="linkChange('/admin/load_gencode_gtf_data')"><span th:text="#{load_gencode_gtf_data}"></span></a></li>
          <li><a href="javascript:void(0)" class="" onclick="linkChange('/admin/load_sam_data')"><span th:text="#{load_sam_data}"></span></a></li>
          <li><a href="javascript:void(0)" class="active" onclick="linkChange('/admin/load_abrowse_splicesite_data')"><span th:text="#{load_abrowse_splicesite_data}"></span></a></li>
          <li><a href="javascript:void(0)" class="" onclick="linkChange('/admin/load_splicesite_data')"><span th:text="#{load_splicesite_data}"></span></a></li>
          <li><a href="javascript:void(0)" class="" onclick="linkChange('/admin/load_bedgraph_data')"><span th:text="#{load_bedgraph_data}"></span></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END LEFT SIDEBAR -->
  <!-- MAIN -->
  <div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
    <div class="">
      <div class="form">
          <form id="load_splicesite" method="post" action="/admin/load_abrowse_splicesite_data">
              <input type="text" placeholder="Track Name" name="trackName" autocomplete="off"/>
              <input type="text" placeholder="Track Display Name" name="trackDisplayName" id="trackDisplayName" autocomplete="off"/>
              <input type="text" placeholder="Track Description" name="trackDescription" autocomplete="off"/>
              <input type="text" placeholder="/splicesite/file/path/on/abrowse/server" name="samPath" autocomplete="off"/>
              <input type="text" th:value="${configGenome.name}" name="genome" id="genome" contenteditable="false" autocomplete="off"/>
              <label for="trackGroupName">Track Group
              <select name="trackGroupName" id="trackGroupName" class="selectpicker">
                  <option th:each="trackGroupEntry : ${configGenome.trackGroupMap}" th:value="${trackGroupEntry.value.name}"
                          th:text="${trackGroupEntry.value.displayName}"></option>
              </select>
              </label>
              <button type="submit" th:text="#{import}"></button>
          </form>
      </div>
    </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script type="text/javascript" src="/js/abrowse/sidebar.js"></script>

</body>
</html>
